body {
  background: #75a8d3;
  font-family: PT Serif, serif;
  padding: 3rem 0;
  color: #666;
}

button, .button {
  font-weight: normal;
}

button:disabled {
  color: #eee;
  border-color: #eee;
}

.container {
  background: white;
}

.header {
  background: #fff1c2;
  padding: 2rem 2rem 0 2rem;
  border-bottom: 0.5rem solid #ffda5c;
}

h1 {
  font-family: Oswald;
  text-transform: uppercase;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

.ghbtns {
  line-height: 6rem;
}

.jobs {
  list-style: none;
  margin: 0;
}

.jobs li {
  padding: 1rem 2rem;
  margin: 0;
  border-bottom: 1px dotted;
}

.jobs h3, .jobs h4 {
  margin: 0;
}

.jobs h3 a {
  color: inherit;
  text-decoration: none;
}

.jobs .description {
  margin-top: 2rem;
  white-space: pre;
}

.jobs .apply {
  background-color: #fff1c2;
}

.pagination {
  padding: 2rem 2rem 0 2rem;
}

.footer {
  padding: 2rem;
  line-height: 1;
  color: silver;
}
