body {
  background: #75a8d3;
  font-family: PT Serif, serif;
  padding: 3rem 0;
  color: #666;
}

button, .button {
  font-weight: normal;
}

button:disabled {
  color: #eee;
  border-color: #eee;
}

.container {
  background: white;
}

.header {
  background: #fff1c2;
  padding: 2rem 2rem 0 2rem;
  border-bottom: 0.5rem solid #ffda5c;
}

h1 {
  font-family: Oswald;
  text-transform: uppercase;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

.ghbtns {
  line-height: 6rem;
}

.jobs {
  overflow: hidden;
  list-style: none;
  margin: 0;
}

.jobs li {
  padding: 1rem 2rem;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.jobs h3, .jobs h4 {
  margin: 0;
}

.jobs h3 a,
.jobs h4 a {
  color: inherit;
  text-decoration: none;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.details .description,
.company .profile {
  white-space: pre-wrap;
}

.details .apply,
.company .homepage {
  background: #fff1c2;
}

.page {
  border: 1px solid #eee;
  position: relative;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem 4rem;
  background: white;
}

.page h2 {
  margin-right: 3rem;
}

.page h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.page .close {
  position: absolute;
  color: silver;
  top: 1rem;
  right: 3rem;
  font-family: sans-serif;
  font-size: 4rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

.pagination {
  padding: 2rem 2rem 0 2rem;
}

.footer {
  padding: 2rem;
  line-height: 1;
  color: silver;
}
