$primary-color: #fff1c2;
$secondary-color: #75a8d3;
$text-color: darken($primary-color, 80);

* {
  box-sizing: border-box;
}

body {
  background: $text-color;
  padding: 0;
  margin: 0;
  font-family: Roboto, serif;
  color: $text-color;
}

h1 {
  background: url(../images/logo.png) no-repeat center top;
  background-size: 256px;
  padding-top: 260px;
  text-align: center;
  margin: 3rem 0 1.5rem;
  color: #ffd43c;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 0 0 1.5rem;
}

p {
  margin: 0 0 1.5rem;
}

label {
  display: block;
}

form {
  & {
    background-color: white;
    width: 100%;
    max-width: 20rem;
    margin: 0 auto 3rem;
    padding: 1rem 2rem;
    position: relative;
  }
  .helptext {
    font-size: 80%;
    color: #ccc;
    line-height: 1.5;
    display: inline-block;
    margin-top: 0.5rem;
  }
  .errorlist {
    left: 100%;
    position: absolute;
    font-size: 80%;
    list-style: none;
    padding-left: 1rem;
    width: 20rem;
  }
  .errorlist li {
    color: crimson;
  }
}

input[type=text], input[type=password], button {
  border: 1px solid;
  background: white;
  width: 100%;
}

input[type=text], input[type=password] {
  line-height: 1;
  padding: 0.5rem;
}

button {
  & {
    line-height: 2;
  }
  &:hover {
    background-color: $text-color;
    color: white;
  }
}
