@import "common/scss/variables";

h1 {
  background: url(../images/logo.png) no-repeat center top;
  background-size: 256px;
  padding-top: 260px;
  text-align: center;
  margin: 3rem 0 1.5rem;
  color: #ffd43c;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 0 0 1.5rem;
}

form {
  & {
    background-color: white;
    width: 100%;
    max-width: 20rem;
    margin: 0 auto 3rem;
    padding: 1rem 2rem;
    display: relative;
  }
  .errorlist {
    left: 100%;
    position: absolute;
    padding-left: 1rem;
    width: 20rem;
  }
}

input {
  width: 100%;
}

button {
  line-height: 3;
  width: 100%;
}

.note {
  font-size: 80%;
}
