{% load static %}

<div class="mb-11 md:mb-0 md:mx-0 md:pr-8 lg:pr-0">
  <ul class="grid grid-cols-3 md:grid-cols-2 lg:grid-cols-4 gap-4 list-none p-0 mb-6">
    <li data-aos="zoom-out-up" data-aos-delay="500">
      <img src="{% static "landing/assets/img/people/image-1.png" %}" class="w-full h-20 rounded-r-md sm:rounded-md object-cover" alt="" />
    </li>
    <li data-aos="zoom-out-up" data-aos-delay="600">
      <img src="{% static "landing/assets/img/people/image-2.png" %}" class="w-full h-20 rounded-md object-cover" alt="" />
    </li>
    <li data-aos="zoom-out-up" data-aos-delay="700">
      <img src="{% static "landing/assets/img/people/image-3.png" %}" class="w-full h-20 rounded-l-md sm:rounded-md object-cover" alt="" />
    </li>
    <li class="hidden lg:block" data-aos="zoom-out-up" data-aos-delay="1000">
      <img src="{% static "landing/assets/img/people/image-4.png" %}" class="w-full h-20 rounded-md object-cover" alt="" />
    </li>
    <li data-aos="zoom-out-up" data-aos-delay="1200">
      <img src="{% static "landing/assets/img/people/image-5.png" %}" class="w-full h-20 rounded-r-md sm:rounded-md object-cover" alt="" />
    </li>
    <li data-aos="zoom-out-up" data-aos-delay="1300">
      <img src="{% static "landing/assets/img/people/image-6.png" %}" class="w-full h-20 rounded-md object-cover" alt="" />
    </li>
    <li data-aos="zoom-out-up" data-aos-delay="1400">
      <img src="{% static "landing/assets/img/people/image-7.png" %}" class="w-full h-20 rounded-l-md sm:rounded-md object-cover" alt="" />
    </li>
    <li class="hidden lg:block" data-aos="zoom-out-up" data-aos-delay="2000">
      <img src="{% static "landing/assets/img/people/image-9.png" %}" class="w-full h-20 rounded-md object-cover" alt="" />
    </li>
    <li class="hidden lg:block" data-aos="zoom-out-up" data-aos-delay="2100">
      <img src="{% static "landing/assets/img/people/image-10.png" %}" class="w-full h-20 rounded-md object-cover" alt="" />
    </li>
    <li class="hidden md:block" data-aos="zoom-out-up" data-aos-delay="2200">
      <img src="{% static "landing/assets/img/people/image-11.png" %}" class="w-full h-20 rounded-md object-cover" alt="" />
    </li>
    <li class="hidden md:block" data-aos="zoom-out-up" data-aos-delay="2300">
      <img src="{% static "landing/assets/img/people/image-12.png" %}" class="w-full h-20 rounded-md object-cover" alt="" />
    </li>
  </ul>
  <ul class="list-none md:pl-10 mb-6">
    <li class="h-40 sm:max-w-[533px]" data-aos="zoom-out-up" data-aos-delay="1600">
      <img src="{% static "landing/assets/img/people/image-8.png" %}" class="w-full h-full sm:rounded-md object-cover" alt="" />
    </li>
  </ul>
  <ul class="hidden lg:grid grid-cols-6 gap-3 list-none p-0 mb-6">
    <li class="hidden xl:block" data-aos="zoom-out-up" data-aos-delay="2500">
      <img src="{% static "landing/assets/img/people/image-13.png" %}" class="w-full h-16 rounded-md object-cover" alt="" />
    </li>
    <li data-aos="zoom-out-up" data-aos-delay="2600">
      <img src="{% static "landing/assets/img/people/image-14.png" %}" class="w-full h-16 rounded-md object-cover" alt="" />
    </li>
    <li data-aos="zoom-out-up" data-aos-delay="2700">
      <img src="{% static "landing/assets/img/people/image-15.png" %}" class="w-full h-16 rounded-md object-cover" alt="" />
    </li>
    <li data-aos="zoom-out-up" data-aos-delay="2800">
      <img src="{% static "landing/assets/img/people/image-16.png" %}" class="w-full h-16 rounded-md object-cover" alt="" />
    </li>
    <li data-aos="zoom-out-up" data-aos-delay="2850">
      <img src="{% static "landing/assets/img/people/image-17.png" %}" class="w-full h-16 rounded-md object-cover" alt="" />
    </li>
    <li data-aos="zoom-out-up" data-aos-delay="2900">
      <img src="{% static "landing/assets/img/people/image-18.png" %}" class="w-full h-16 rounded-md object-cover" alt="" />
    </li>
  </ul>
</div>
