{% load static %}

<header class="bg-image-1 bg-top md:bg-left-top bg-no-repeat 2xl:bg-repeat xl:bg-contain md:pb-40 relativex overflow-hidden">

  {% include "landing/header/navbar.html" %}
  <div class="w-full md:flex items-center lg:max-w-920 xl:max-w-1110 md:mx-auto">
    <div class="text-center md:text-left mt-50 md:mt-0 md:mr-auto px-30 lg:px-0 max-w-480">
      <div class="flex flex-col md:flex-row items-center justify-center md:justify-start mb-8 md:mb-33">
        <div class="flex justify-center h-168 md:h-150 md:w-126 mb-20 md:mr-22 md:mb-0 relative">
          <img src="{% static 'landing/assets/img/icon/icon-logo.svg' %}" class="md:absolute h-full" />
        </div>
        <h1 class="flex flex-col md:block font-raleway uppercase text-white leading-42 mb-13 leading-20 leading-none">
          <span class="text-47 md:text-63 font-black flex justify-center md:justify-start mb-4">Python</span>
          <span class="text-31 md:text-48 font-light flex justify-center md:justify-start">Philippines</span>
        </h1>
      </div>
      <p class="text-white text-18 text-center px-25 md:text-left md:px-0 mb-23 md:mb-36">
      PythonPH is a non-stock, non-profit, <strong>volunteer-run</strong>
      organization dedicated to support and facilitate the
      growth of the community of Python programmers in the
      Philippines.
      </p>
    </div>

    {% include "landing/header/gallery1.html" %}
  </div>
</header>
