# python
__pycache__/
*.pyc
*.egg-info

# SQLite
*.sqlite3

# npm
npm-debug.log

# volumes
/venv/*
/static/*
/media/*
/mediafiles/
/bower_components/*
/node_modules/*

# docker-compose
*.env
db.sqlite3

# tailwind cli binary (downloaded by django-tailwind-cli)
.django_tailwind_cli/

# Static files
/staticfiles/
