Django==2.2.21
gunicorn==20.0.4
psycopg2-binary==2.8.5

Pillow==7.1.1
django-admin-sortable2
django-ckeditor==6.0.0
django-compressor==2.4
django-debug-toolbar==2.2
django-libsass==0.8
django-markdownx==3.0.1
django-storages==1.6.5
django-taggit==1.2.0
django-tastypie==0.14.3
django-model-utils==4.1.1
raven==6.10.0
requests>=2.13.0
whitenoise==5.0.1
