{% extends 'base.html' %}

{% block content %}
    {% if validlink %}
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        <form method="post" class="form-horizontal">
            {% csrf_token %}
                <legend>Password reset:</legend>
                <div>
                        Please enter your new password twice so we can verify you typed it in correctly.
                </div>
  <div class="form-group">
    <label for="id_new_password1" class="col-sm-2 control-label">New Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="id_new_password1" name="new_password1">
    </div>
  </div>
  <div class="form-group">
    <label for="id_new_password2" class="col-sm-2 control-label">New Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="id_new_password2" name="new_password2">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Change My Password</button>
    </div>
  </div>
        </form>
    {% else %}
        <h3>Password reset unsuccessful</h3>
        <p>
            The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}
