{% extends 'base.html' %}

{% block content %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
{{ form }}
{#
<form action="." method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Password change' %}</legend>
        <div class="clearfix">
            <div class="input">
                <p>Please enter your old password and then enter your new password twice so we can verify you typed it in
                correctly.</p>
            </div>
        </div>
        <div class="actions">
            <button id='submit' type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>&nbsp;<button type="reset" class="btn">{% trans 'Cancel' %}</button>
        </div>
    </fieldset>
    <script type="text/javascript">
        $(function(){
            $(".alert-message").alert();
            $('#mainForm').submit(function(){
                $('#submit').button('loading');
            })
        });
        document.forms[0].elements[2].focus();
    </script>
</form>
#}
{% endblock %}
