{% load static %}

<footer class="flex items-center text-14 bg-blue-3 px-15 xl:px-0">
  <div class="w-full h-full border-t border-gray-30 flex flex-col md:flex-row-reverse items-center py-21 md:py-12 xl:px-0 lg:max-w-920 xl:max-w-1110 mx-auto">
    <div class="md:flex items-center">
      <div class="flex items-center justify-center mb-21 md:mb-0">
        <a href="https://pycon.python.ph/" class="text-white no-underline opacity-70 hover:opacity-100">PyCon Philippines</a>
        <a href="https://python.ph/jobs/" class="text-white no-underline opacity-70 hover:opacity-100 ml-24 md:ml-20">Job Boards</a>
      </div>
      <div class="flex items-center justify-center mb-30 md:mb-0">
        <a href="https://python.ph/slack/" class="text-white no-underline opacity-70 hover:opacity-100 md:ml-20">
          <img src="{% static 'landing/assets/img/icon/icon-slack.svg' %}" />
        </a>
        <a href="https://www.facebook.com/groups/pythonph/" class="text-white no-underline opacity-70 hover:opacity-100 ml-20">
          <img src="{% static 'landing/assets/img/icon/icon-facebook.svg' %}" />
        </a>
        <a href="https://github.com/pythonph" class="text-white no-underline opacity-70 hover:opacity-100 ml-20">
          <img src="{% static 'landing/assets/img/icon/icon-github.svg' %}" />
        </a>
        <a href="https://twitter.com/pythonph" class="text-white no-underline opacity-70 hover:opacity-100 ml-20">
          <img src="{% static 'landing/assets/img/icon/icon-twitter.svg' %}" />
        </a>
        <a href="https://www.instagram.com/pythonph/" class="text-white no-underline opacity-70 hover:opacity-100 ml-20">
          <img src="{% static 'landing/assets/img/icon/icon-instagram.svg' %}" />
        </a>
        <a href="https://www.linkedin.com/company/pythonph" class="text-white no-underline opacity-70 hover:opacity-100 ml-20">
          <img src="{% static 'landing/assets/img/icon/icon-linkedin.svg' %}" />
        </a>
        <a href="https://www.youtube.com/c/PythonPH" class="text-white no-underline opacity-70 hover:opacity-100 ml-20">
          <img src="{% static 'landing/assets/img/icon/icon-youtube.svg' %}" />
        </a>
      </div>
    </div>
    <div class="md:mr-auto text-white">© 2025 PythonPH</div>
  </div>
</footer>
