<div class="flex bg-blue-3 items-center text-sm text-white px-4 py-10">
  <div class="w-full max-w-[855px] mx-auto text-center">
    <form
      action="https://python.us3.list-manage.com/subscribe/post?u=ff8bbdf3900c2c0f4dca97052&amp;id=f1bffc39a1"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      target="_blank"
      novalidate
    >
      <h2 class="text-center mb-5 capitalize font-montserrat text-4xl" data-aos="py-slide">
        Subscribe
      </h2>
      <div class="text-center md:mb-8 px-4">
        <p>
          Subscribe to our mailing list and get interesting stuff and updates
          to your email inbox.
        </p>
      </div>
      <div class="flex flex-col sm:flex-row items-center justify-center gap-4 px-4">
        <label class="sr-only" for="mce-EMAIL">Email Address</label>
        <input
          type="email"
          name="EMAIL"
          id="mce-EMAIL"
          placeholder="Email Address"
          required
          class="input input-bordered w-full max-w-sm bg-white text-blue"
        />
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px" aria-hidden="true">
          <input
            type="text"
            name="b_ff8bbdf3900c2c0f4dca97052_f1bffc39a1"
            tabindex="-1"
            value=""
          />
        </div>
        <button
          type="submit"
          name="subscribe"
          class="btn btn-primary font-montserrat font-semibold px-11 border-none"
          data-aos="py-slide"
          data-aos-delay="200"
        >
          Subscribe
        </button>
      </div>
    </form>
  </div>
</div>
