{% load static %}

<div class="bg-blue md:bg-image-2 bg-top md:bg-left-top bg-no-repeat 2xl:bg-repeat xl:bg-contain overflow-hidden">
  <div class="w-full h-full flex px-4 py-9 lg:px-0 xl:pt-11 lg:max-w-[920px] xl:max-w-[1204px] md:mx-auto">
    <div class="hidden md:flex md:flex-col list-none w-1/2 md:pr-8 lg:pr-4 lg:pt-2 lg:pl-12">
      <div class="flex w-full md:mb-5 xl:mb-9">
        <div class="w-full max-w-[160px] mr-8 lg:mr-10 xl:mr-[51px]" data-aos="py-slide" data-aos-delay="450">
          <img src="{% static 'landing/assets/img/people/image-19.png' %}" class="w-full rounded-[20px] object-cover max-h-[160px]" alt="" />
        </div>
        <div class="w-full max-w-[130px] mr-8 lg:mr-10 xl:mr-[51px] pt-[70px] lg:pt-[100px]" data-aos="py-slide" data-aos-delay="400">
          <img src="{% static 'landing/assets/img/people/image-20.png' %}" class="w-full rounded-[20px] object-cover max-h-[130px]" alt="" />
        </div>
        <div class="w-full mt-6 lg:mt-11 max-w-[150px]" data-aos="py-slide" data-aos-delay="500">
          <img src="{% static 'landing/assets/img/people/image-21.png' %}" class="w-full rounded-[20px] object-cover max-h-[150px]" alt="" />
        </div>
      </div>
      <div class="flex w-full md:px-8 xl:pl-[94px] xl:pr-[85px]">
        <div class="max-w-[87px] mt-1 mr-8 lg:mr-10 xl:mr-[51px]" data-aos="py-slide" data-aos-delay="550">
          <img src="{% static 'landing/assets/img/people/image-22.png' %}" class="w-full max-h-[87px] rounded-[20px] object-cover" alt="" />
        </div>
        <div class="max-w-[90px] md:mr-6 md:mt-8 xl:mt-[47px] xl:mr-[62px]" data-aos="py-slide" data-aos-delay="600">
          <img src="{% static 'landing/assets/img/people/image-23.png' %}" class="w-full max-h-[90px] rounded-[20px] object-cover" alt="" />
        </div>
        <div class="max-w-[75px]" data-aos="py-slide" data-aos-delay="650">
          <img src="{% static 'landing/assets/img/people/image-24.png' %}" class="w-full max-h-[75px] rounded-[20px] object-cover" alt="" />
        </div>
      </div>
    </div>
    <div class="md:w-1/2 md:ml-auto lg:pl-[79px]">
      <div class="mb-4 text-center md:text-left">
        <div>
          <h2 class="capitalize text-white mb-8 text-2xl font-montserrat" data-aos="py-slide" data-aos-delay="150">
            Our Aim
          </h2>
          {{ our_aim.content|safe }}
        </div>
        <a class="btn btn-primary text-lg font-montserrat font-semibold px-11 border-none" data-aos="py-slide" data-aos-delay="200" href="mailto:info@python.ph">
          Get to know us
        </a>
      </div>
    </div>
  </div>
</div>
