{% load static %}

<div class="bg-blue md:bg-image-2 bg-top md:bg-left-top bg-no-repeat 2xl:bg-repeat xl:bg-contain our-aim overflow-hidden">
  <div class="w-full h-full flex px-15 py-36 lg:px-0 xl:pt-43 lg:max-w-920 xl:max-w-1204 md:mx-auto">
    <div class="hidden md:flex md:flex-col list-none w-1/2 md:pr-30 lg:pr-14 lg:pt-7 lg:pl-46">
      <div class="flex w-full md:mb-20 xl:mb-36">
        <div class="w-full max-w-160 mr-30 lg:mr-40 xl:mr-51" data-aos="py-slide" data-aos-delay="450">
          <img src="{% static 'landing/assets/img/people/image-19.png' %}" class="w-full rounded-20 object-cover max-h-160"/>
        </div>
        <div class="w-full max-w-130 mr-30 lg:mr-40 xl:mr-51 pt-70 lg:pt-100" data-aos="py-slide" data-aos-delay="400">
          <img src="{% static 'landing/assets/img/people/image-20.png' %}" class="w-full rounded-20 object-cover max-h-130" />
        </div>
        <div class="w-full mt-25 lg:mt-44 max-w-150" data-aos="py-slide" data-aos-delay="500">
          <img src="{% static 'landing/assets/img/people/image-21.png' %}" class="w-full rounded-20 object-cover max-h-150" />
        </div>
      </div>
      <div class="flex w-full md:px-30 xl:pl-94 xl:pr-85">
        <div class="max-w-87 mt-5 mr-30 lg:mr-40 xl:mr-51" data-aos="py-slide" data-aos-delay="550">
          <img src="{% static 'landing/assets/img/people/image-22.png' %}" class="w-full max-h-87 rounded-20 object-cover" />
        </div>
        <div class="max-w-90 md:mr-25 md:mt-30 xl:mt-47 xl:mr-62" data-aos="py-slide" data-aos-offset="0" data-aos-delay="600">
          <img src="{% static 'landing/assets/img/people/image-23.png' %}" class="w-full max-h-90 rounded-20 object-cover"/>
        </div>
        <div class="max-w-75-px" data-aos="py-slide" data-aos-delay="650">
          <img src="{% static 'landing/assets/img/people/image-24.png' %}" class="w-full max-h-75-px rounded-20 object-cover"/>
        </div>
      </div>
    </div>
    <div class="md:w-1/2 md:ml-auto lg:pl-79">
      <div class="mb-14 text-center md:text-left">
        <div>
          <h2 class="capitalize text-white mb-30 text-24 font-montserrat" data-aos="py-slide" data-aos-delay="150">
            Our Aim
          </h2>
          <ul class="text-left text-white leading-26 p-0 mb-26">
            <li class="mb-20" data-aos="py-slide" data-aos-delay="200">
              To show that <strong>Python has something for everyone</strong>: from hobbyists, to educators, to students, to professionals.
            </li>
            <li class="mb-20" data-aos="py-slide" data-aos-delay="250">
              To <strong>inspire Filipinos to excel in their craft</strong> through Python and Open Source.
            </li>
            <li class="mb-20" data-aos="py-slide" data-aos-delay="300">
              To <strong>provide a safe space</strong> where the Python programming language and surrounding technologies can be explored, discussed and exercised.
            </li>
          </ul>
        </div>
        <p class="mb-21 text-white text-18 leading-26" data-aos="py-slide" data-aos-offset="100" data-aos-delay="150">
        We believe that we <strong>create small dents of improvement</strong> in the <strong>PH Tech industry</strong> when we foster environments that <strong>inspire</strong> and <strong>motivate</strong> individuals to be <strong>technically competent</strong> and <strong>passionate</strong> about their <strong>craft</strong>.
        </p>
        <a class="bg-yellow text-blue text-18 rounded-md border-none px-42 md:px-46 py-11 font-montserrat font-semibold" data-aos="py-slide" data-aos-delay="200" href="mailto:info@python.ph">
          Get to know us
        </a>
      </div>
    </div>
  </div>
</div>
