@import "variables";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, serif;
  color: $text-color;
}

h1 {
  & {
    font-family: Raleway;
    text-transform: uppercase;
    margin: 0;
    line-height: 0.8;
  }
  a {
    border: none;
    color: inherit;
    text-decoration: none;
  }
  small {
    letter-spacing: 0.1em;
  }
}

h2, h3, h4 {
  margin: 0 0 1.5rem;
}

a {
  color: $secondary-color;
  text-decoration: none;
  border-bottom: 1px solid;
}

input, textarea, select {
  border: 1px solid $input-border-color;
  background: white;
  line-height: 1;
  padding: 0.5rem;
}

button, .button {
  & {
    display: inline-block;
    background: $primary-color;
    font-weight: normal;
    line-height: 3;
    padding: 0 1rem;
    border: 0;
    color: $input-border-color;
    text-decoration: none;
  }
  &:hover {
    background-color: darken($primary-color, 20);
  }
  &:disabled {
    background-color: #f9f9f9;
    color: silver;
  }
}

form {
  p {
    margin: 0 0 1.5em;
    position: relative;
  }
  label {
    display: block;
    font-size: 80%;
    margin: 0 0 0.5em;
    text-transform: uppercase;
    color: $input-border-color;
    padding: 0.625em;
    position: absolute;
  }
  input, textarea {
    padding-top: 2em;
  }
  .helptext {
    font-size: 80%;
    color: #ccc;
    line-height: 1.5;
    display: block;
    margin-top: 0.5rem;
  }
  .errorlist {
    font-size: 80%;
    list-style: none;
    padding-left: 0;
  }
  .errorlist li {
    color: crimson;
  }
  .submit {
    padding-top: 1rem;
    border-top: 1px solid $input-border-color;
    width: 100%;
    text-align: right;
  }
}
