{% load static %}

<footer class="mt-auto bg-blue-3 text-sm text-white">
  <div class="mx-auto flex max-w-6xl flex-col items-center gap-4 border-t border-white/10 px-4 py-6 md:flex-row-reverse md:justify-between">
    <div class="flex flex-col items-center gap-4 md:flex-row md:gap-6">
      <div class="flex items-center gap-5">
        <a href="https://pycon.python.ph/" class="text-white no-underline opacity-70 hover:opacity-100">PyCon Philippines</a>
        <a href="{% url 'jobs:index' %}" class="text-white no-underline opacity-70 hover:opacity-100">Job Board</a>
      </div>
      <div class="flex items-center gap-4">
        <a href="https://www.facebook.com/groups/pythonph/" class="opacity-70 hover:opacity-100"><img src="{% static 'landing/assets/img/icon/icon-facebook.svg' %}" alt="Facebook"></a>
        <a href="https://github.com/pythonph" class="opacity-70 hover:opacity-100"><img src="{% static 'landing/assets/img/icon/icon-github.svg' %}" alt="GitHub"></a>
        <a href="https://twitter.com/pythonph" class="opacity-70 hover:opacity-100"><img src="{% static 'landing/assets/img/icon/icon-twitter.svg' %}" alt="Twitter"></a>
        <a href="https://www.instagram.com/pythonph/" class="opacity-70 hover:opacity-100"><img src="{% static 'landing/assets/img/icon/icon-instagram.svg' %}" alt="Instagram"></a>
        <a href="https://www.linkedin.com/company/pythonph" class="opacity-70 hover:opacity-100"><img src="{% static 'landing/assets/img/icon/icon-linkedin.svg' %}" alt="LinkedIn"></a>
        <a href="https://www.youtube.com/c/PythonPH" class="opacity-70 hover:opacity-100"><img src="{% static 'landing/assets/img/icon/icon-youtube.svg' %}" alt="YouTube"></a>
      </div>
    </div>
    <div>© {% now "Y" %} PythonPH</div>
  </div>
</footer>
