<div
  class="bg-blue-3 md:bg-image-6 bg-cover bg-no-repeat overflow-hidden lg:h-448"
>
  <div
    class="
      w-full
      h-full
      top-0
      text-white
      pt-52
      md:px-0 md:py-70
      max-w-855
      mx-auto
    "
    data-aos="py-slide"
  >
    <h2 class="text-center mb-28 capitalize font-montserrat text-40">
      Code of Conduct
    </h2>
    <div>
      <div class="text-center md:mb-30 px-15">
        <p>
          We value the participation of each member of the Python community and
          want all members to have an enjoyable and fulfilling experience.
          Accordingly, all members are expected to show respect and courtesy to
          other members at all PythonPH events, whether officially sponsored by
          Python.PH or not.
        </p>
        <p>
          To make clear what is expected, all delegates/attendees, speakers,
          exhibitors, organizers, and volunteers at any PythonPH event are
          required to conform to the following
          <a
            class="text-yellow text-16 no-underline hover:opacity-70"
            href="https://www.python.org/psf/conduct/"
            >Code of Conduct</a
          >.
        </p>

        
        <p><strong>Contact Information</strong></p>

        <p>
          If you believe that someone is violating the code of conduct, or have
          any other concerns, please contact a member of the PythonPH Code of
          Conduct workgroup immediately. They can be reached by emailing
          <a
            class="text-yellow text-16 no-underline hover:opacity-70"
            href="mailto:board@python.ph"
            >board@python.ph</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
