{% load static from staticfiles %}

<div class="mb-44 md:mb-0 md:mx-0 md:pr-30 lg:pr-0">
  <ul
    class="
      flex flex-wrap
      justify-between
      sm:justify-center
      md:justify-end
      list-none
      p-0
      mb-24
      md:mb-26
    "
  >
    <li
      class="
        w-1/3
        md:hidden
        lg:flex
        flex-basis-1/3
        lg:w-1/4 lg:flex-basis-1/4
        h-81
        pr-18
        sm:pr-0 sm:mr-18
        lg:pr-0 lg:mr-0 lg:pl-18
        sm:max-w-125
        lg:max-w-143
      "
      data-aos="zoom-out-up"
      data-aos-delay="500"
      data-aos-durationx="1000"
    >
      <img src="{% static "landing/assets/img/people/image-1.png" %}"
      class="w-full h-full rounded-r-md sm:rounded-md object-cover" />
    </li>
    <li
      class="
        w-1/3
        md:w-1/2
        lg:w-1/4
        flex-basis-1/3
        md:flex-basis-1/2
        lg:flex-basis-1/4
        h-81
        lg:mr-0
        md:pr-9
        lg:pr-0 lg:pl-18
        sm:max-w-125
        lg:max-w-143
      "
      data-aos="zoom-out-up"
      data-aos-delay="600"
      data-aos-durationx="1000"
    >
      <img src="{% static "landing/assets/img/people/image-2.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>
    <li
      class="
        w-1/3
        md:w-1/2
        lg:w-1/4
        flex-basis-1/3
        md:flex-basis-1/2
        lg:flex-basis-1/4
        h-81
        pl-18
        sm:pl-0 sm:ml-18
        md:ml-0 md:pl-9
        lg:pl-18 lg:ml-0
        sm:max-w-125
        lg:max-w-143
      "
      data-aos="zoom-out-up"
      data-aos-delay="700"
      data-aos-durationx="1000"
    >
      <img src="{% static "landing/assets/img/people/image-3.png" %}"
      class="w-full h-full rounded-l-md sm:rounded-md object-cover" />
    </li>
  </ul>
  <ul
    class="
      flex flex-wrap
      justify-between
      sm:justify-center
      md:justify-end
      p-0
      mb-24 mb-26
    "
  >
    <li
      class="
        hidden
        lg:flex lg:w-1/4 lg:flex-basis-1/4
        h-81
        lg:mr-0 lg:pl-18
        sm:max-w-125
        lg:max-w-143
      "
      data-aos="zoom-out-up"
      data-aos-delay="1000"
      data-aos-durationx="900"
    >
      <img src="{% static "landing/assets/img/people/image-4.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>
    <li
      class="
        w-1/3
        md:hidden
        lg:flex
        flex-basis-1/3
        lg:w-1/4 lg:flex-basis-1/4
        h-81
        pr-18
        sm:pr-0 sm:mr-18
        lg:pr-0 lg:mr-0 lg:pl-18
        sm:max-w-125
        lg:max-w-143
      "
      data-aos="zoom-out-up"
      data-aos-delay="1200"
      data-aos-durationx="900"
    >
      <img src="{% static "landing/assets/img/people/image-5.png" %}"
      class="w-full h-full rounded-r-md sm:rounded-md object-cover" />
    </li>
    <li
      class="
        w-1/3
        md:w-1/2
        lg:w-1/4
        flex-basis-1/3
        md:flex-basis-1/2
        lg:flex-basis-1/4
        h-81
        lg:mr-0
        sm:max-w-125
        lg:max-w-143
        md:pr-9
        lg:pr-0 lg:pl-18
      "
      data-aos="zoom-out-up"
      data-aos-delay="1300"
      data-aos-durationx="900"
    >
      <img src="{% static "landing/assets/img/people/image-6.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>
    <li
      class="
        w-1/3
        md:w-1/2
        lg:w-1/4
        flex-basis-1/3
        md:flex-basis-1/2
        lg:flex-basis-1/4
        h-81
        pl-18
        sm:pl-0 sm:ml-18
        md:ml-0 md:pl-9
        lg:pl-18 lg:ml-0
        sm:max-w-125
        lg:max-w-143
      "
      data-aos="zoom-out-up"
      data-aos-delay="1400"
      data-aos-durationx="900"
    >
      <img src="{% static "landing/assets/img/people/image-7.png" %}"
      class="w-full h-full rounded-l-md sm:rounded-md object-cover" />
    </li>
  </ul>
  <ul
    class="
      flex
      justify-between
      sm:justify-center
      md:justify-end
      list-none
      md:pl-40
      mb-26
    "
  >
    <li
      class="h-159 sm:max-w-533"
      data-aos="zoom-out-up"
      data-aos-delay="1600"
      data-aos-durationx="900"
    >
      <img src="{% static "landing/assets/img/people/image-8.png" %}"
      class="w-full h-full sm:rounded-md object-cover" />
    </li>
  </ul>
  <ul
    class="
      hidden
      md:flex
      justify-between
      sm:justify-center
      md:justify-end
      list-none
      p-0
      mb-26
    "
  >
    <li
      class="
        hidden
        lg:flex lg:w-1/4 lg:flex-basis-1/4
        h-81
        lg:mr-0 lg:pl-18
        sm:max-w-125
        lg:max-w-143
      "
      data-aos="zoom-out-up"
      data-aos-delay="2000"
      data-aos-durationx="600"
    >
      <img src="{% static "landing/assets/img/people/image-9.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>
    <li
      class="
        hidden
        lg:flex lg:w-1/4 lg:flex-basis-1/4
        h-81
        pr-18
        sm:pr-0 sm:mr-18
        lg:pr-0 lg:mr-0 lg:pl-18
        sm:max-w-125
        lg:max-w-143
      "
      data-aos="zoom-out-up"
      data-aos-delay="2100"
      data-aos-durationx="600"
    >
      <img src="{% static "landing/assets/img/people/image-10.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>
    <li
      class="
        w-1/3
        md:w-1/2
        lg:w-1/4
        flex-basis-1/3
        md:flex-basis-1/2
        lg:flex-basis-1/4
        h-81
        lg:mr-0
        sm:max-w-125
        lg:max-w-143
        md:pr-9
        lg:pr-0 lg:pl-18
      "
      data-aos="zoom-out-up"
      data-aos-delay="2200"
      data-aos-durationx="600"
    >
      <img src="{% static "landing/assets/img/people/image-11.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>

    <li
      class="
        w-1/3
        md:w-1/2
        lg:w-1/4
        flex-basis-1/3
        md:flex-basis-1/2
        lg:flex-basis-1/4
        h-81
        pl-18
        sm:pl-0 sm:ml-18
        md:ml-0 md:pl-9
        lg:pl-18 lg:ml-0
        sm:max-w-125
        lg:max-w-143
      "
      data-aos="zoom-out-up"
      data-aos-delay="2300"
      data-aos-durationx="500"
    >
      <img src="{% static "landing/assets/img/people/image-12.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>
  </ul>
  <ul class="hidden lg:flex justify-end list-none p-0 mb-26">
    <li
      class="lg:hidden xl:flex xl:w-1/6 flex-basis-1/6 h-63 lg:pl-12 max-w-91"
      data-aos="zoom-out-up"
      data-aos-delay="2500"
      data-aos-durationx="1000"
      data-aos-anchor-placement="top-bottom"
    >
      <img src="{% static "landing/assets/img/people/image-13.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>
    <li
      class="
        lg:w-1/5
        xl:w-1/6
        lg:flex-basis-1/5
        xl:flex-basis-1/6
        h-63
        lg:pl-12
        max-w-91
      "
      data-aos="zoom-out-up"
      data-aos-delay="2600"
      data-aos-durationx="1000"
      data-aos-anchor-placement="top-bottom"
    >
      <img src="{% static "landing/assets/img/people/image-14.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>
    <li
      class="
        lg:w-1/5
        xl:w-1/6
        lg:flex-basis-1/5
        xl:flex-basis-1/6
        h-63
        lg:pl-12
        max-w-91
      "
      data-aos="zoom-out-up"
      data-aos-delay="2700"
      data-aos-durationx="1000"
      data-aos-anchor-placement="top-bottom"
    >
      <img src="{% static "landing/assets/img/people/image-15.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>
    <li
      class="
        lg:w-1/5
        xl:w-1/6
        lg:flex-basis-1/5
        xl:flex-basis-1/6
        h-63
        lg:pl-12
        max-w-91
      "
      data-aos="zoom-out-up"
      data-aos-delay="2800"
      data-aos-durationx="1000"
      data-aos-anchor-placement="top-bottom"
    >
      <img src="{% static "landing/assets/img/people/image-16.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>
    <li
      class="
        lg:w-1/5
        xl:w-1/6
        lg:flex-basis-1/5
        xl:flex-basis-1/6
        h-63
        lg:pl-12
        max-w-91
      "
      data-aos="zoom-out-up"
      data-aos-delay="2850"
      data-aos-durationx="1000"
      data-aos-anchor-placement="top-bottom"
    >
      <img src="{% static "landing/assets/img/people/image-17.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>

    <li
      class="
        lg:w-1/5
        xl:w-1/6
        lg:flex-basis-1/5
        xl:flex-basis-1/6
        h-63
        lg:pl-12
        max-w-91
      "
      data-aos="zoom-out-up"
      data-aos-delay="2900"
      data-aos-durationx="1000"
      data-aos-anchor-placement="top-bottom"
    >
      <img src="{% static "landing/assets/img/people/image-18.png" %}"
      class="w-full h-full rounded-md object-cover" />
    </li>
  </ul>
</div>
