{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A community in the Philippines for enthusiasts and users of the Python programming language.">
  <title>Python Philippines</title>
  <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.4/basscss.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,700,800|Cabin:400,400italic,700,700italic" rel="stylesheet" type="text/css">
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static "landing/scss/landing.scss" %}">
  {% endcompress %}
</head>

<body>
  <div class="landing relative border-box p3 flex flex-wrap white">
    <div class="overlay bg-python-blue"></div>
    <div class="relative container">
      <div class="flex flex-center">
        <div class="flex-auto">
          <h1>
            <span class="py">Python</span>
            <span class="ph">Philippines</span>
          </h1>
        </div>
        <div class="flex-auto right-align">
          <ul class="list-reset">
            <li><a class="python-yellow bold" href="https://python.ph/jobs">Jobs Board</a></li>
            <li><a class="white" href="https://pythonph-slackin.herokuapp.com">Slack</a></li>
            <li><a class="white" href="https://www.facebook.com/groups/pythonph/">Facebook</a></li>
            <li><a class="white" href="https://github.com/pythonph">GitHub</a></li>
            <li><a class="white" href="https://pycon.python.ph">PyCon Philippines</a></li>
          </ul>
        </div>
      </div>
      <div class="p4">
        <p>We are PythonPH, a community in the Philippines for enthusiasts and users
        of the Python programming language. Our aim is to show that Python has
        something for everyone: from hobbyists, to educators, to
        professionals.</p>
        <p>The group started back in 2007 when Jun Auza of Tech Source blogged about
        forming a local Python User's Group. JM Maranan stumbled upon the post and
        created a Google group. In June 31-July 1 2012, we held the first ever
        PyCon Philippines.</p>
        <p>Today, we hold monthly meet-ups for knowledge sharing
        and some pizza. Whether you're new to programming, an experienced
        practitioner, or just plain curious what this Python programming language
        is about and you're in the Philippines or a Filipino, you're much welcome
        to join this community!</p>
        <p>Contact us at <a class="python-yellow" href="mailto:info@python.ph">info@python.ph</a>.</p>
      </div>
    </div>
  </div>
</body>

</html>
