{% load static from staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A community in the Philippines for enthusiasts and users of the Python programming language." />
    <title>Python Philippines</title>
    <link rel="shortcut icon" href="{% static 'landing/assets/img/icon/icon-logo.svg' %}" />
    <link rel="stylesheet" href="{% static 'landing/assets/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'landing/assets/css/custom.css' %}" />
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'landing/assets/css/mail.css' %}" />
  </head>

  <body class="m-0 bg-blue font-sourcesanspro leading-normal relative preload">
    <!-- HEADER SECTION -->
    {% include "landing/header/index.html" %}

    <!-- OUR AIM SECTION -->
    {% include "landing/our_aim.html" %}

    <!-- WHY PYTHON SECTION -->
    {% include "landing/why_python.html" %}

    <!-- WHAT WE DO SECTION -->
    {% include "landing/what_we_do/index.html" %}

    <!-- OUR TEAM SECTION -->
    {% include "landing/our_team.html" %}

    <!-- CODE OF CONDUCT SECTION -->
    {% include "landing/code_of_conduct.html" %}

    <!-- MAILING LIST SECTION -->
    {% include "landing/mailing_list.html" %}

    <!-- FOOTER SECTION -->
    {% include "landing/footer.html" %}

    <!-- SCRIPTS -->
    <script src="{% static "landing/assets/js/app.js" %}"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='MMERGE5';ftypes[5]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  </body>
</html>
