 {% load static %}

<div
  class="bg-blue md:bg-image-4 lg:h-750 bg-top md:bg-left-top bg-no-repeat 2xl:bg-repeat xl:bg-contain bg-our-team xl:pt-40 overflow-hidden"
>
  <div
    class="w-full px:15 text-white pt-56 md:pt-90 md:pb-90 h-full max-w-1025 mx-auto"
  >
    <div>
      <h2
        class="text-center mb-18 md:mb-26 xl:mb-18 capitalize font-montserrat text-40"
        data-aos="py-slide"
      >
        Our Team
      </h2>
      <div class="w-full h-full leading-33 px-23 md:px-0">
        <ul
          class="hidden md:flex nav nav-tabs border-none mb-56 xl:mb-28 items-center justify-center"
          id="ourTeamTab"
          role="tablist"
          data-aos="py-slide"
          data-aos-offset="50"
        >
          <li class="nav-item relative" role="nav-officers">
            <button
              class="nav-link active text-18 font-montserrat bg-transparent border-none focus:border-none focus:outline-none"
              id="officers-tab"
              data-bs-toggle="tab"
              data-bs-target="#officers"
              type="button"
              role="tab"
              aria-controls="officers"
              aria-selected="false"
            >
              Officers and Directors
            </button>
          </li>
          <li class="mx-14">
            <img src="{% static "landing/assets/img/icon/icon-star.svg" %}" />
          </li>
          <li class="nav-item relative" role="nav-volunteers">
            <button
              class="nav-link text-18 font-montserrat bg-transparent border-none focus:border-none focus:outline-none"
              id="volunteers-tab"
              data-bs-toggle="tab"
              data-bs-target="#volunteers"
              type="button"
              role="tab"
              aria-controls="volunteers"
              aria-selected="false"
            >
              Core Volunteers
            </button>
          </li>
        </ul>
        <div
          class="tab-content relative"
          id="ourTeamTabContent"
        >
          <h3
            class="md:hidden text-18 text-white text-center mb-14 font-semibold font-montserrat"
            data-aos="py-slide"
          >
            Officers and Directors
          </h3>
          <div
            class="tab-pane fade show active flex-wrap justify-between md:justify-center w-full mb-24 md:mb-0"
            id="officers"
            role="tabpanel"
            aria-labelledby="officers-tab"
          >

          {% for member in board_members %}
            <div
              class="w-1/3 flex-basis-1/3 md:w-1/5 md:flex-basis-1/5 lg:w-1/5 lg:flex-basis-19 md:mb-12 flex justify-center h-full"
            >
              <div class="p-14 md:p-24 xl:p-15">
                <img
                  class="w-full h-full object-cover rounded-13 md:rounded-24 cursor-pointer max-w-144 max-h-144"
                  data-bs-toggle="tooltip"
                  data-bs-html="true"
                  title="<h5 class='text-16 text-blue font-semibold font-montserrat mb-6'>{{ member.name }}</h5><h6 class='text-14 text-blue m-0'>{{ member.position }}</h6>"
                  src="{% static member.image %}"
                  data-aos="py-slide"
                />
              </div>
            </div>
          {% endfor %}
          </div>

          <h3
            class="md:hidden text-18 text-white text-center mb-20 font-semibold font-montserrat"
            data-aos="py-slide"
          >
            Core Volunteers
          </h3>
          <div
            class="tab-pane fade flex-wrap justify-center w-full"
            id="volunteers"
            role="tabpanel"
            aria-labelledby="volunteers-tab"
          >
            <div class="w-full md:flex justify-center">
              {% for committee in committees %}
                <div class="text-center md:w-1/3">
                  <h3
                    class="text-yellow text-20 font-montserrat mb-9 md:mb-16"
                    data-aos="py-slide"
                    data-aos-delay="600"
                  >
                    {{ committee.name }}
                  </h3>
                  <ul
                    class="text-18 mb-26 md:mb-60 list-none"
                    data-aos="py-slide"
                    data-aos-delay="700"
                  >
                    {% for volunteer in commitee.volunteers.all %}
                      <li>{{ volunteer.display_name }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
