<div
  class="
    bg-blue
    lg:bg-image-5
    xl:h-968
    bg-top
    md:bg-left-top
    bg-no-repeat
    2xl:bg-repeat
    xl:bg-contain
    overflow-hidden
  "
>
  <div
    class="
      w-full
      h-full
      top-0
      text-white
      px-15
      md:pr-0
      lg:px-0
      md:pt-88 md:pb-9
      lg:max-w-920
      xl:max-w-1110
      mx-auto
      pb-52
      md:pb-0
    "
  >
    <div>
      <h2
        class="text-center mb-28 capitalize font-montserrat text-40"
        data-aos="py-slide"
      >
        Our Sponsors
      </h2>
      <p
        class="
          text-center
          md-21 md:mb-30
          leading-primary
          md:px-18
          lg:px-70
          xl:px-130
        "
        data-aos="py-slide"
        data-aos-delay="500"
      >
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Morbi leo risus, porta ac consectetur ac,
        vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id
        elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        quis risus eget urna mollis ornare vel eu leo.
      </p>
      <div class="w-full h-full">
        <ul
          class="
            nav nav-tabs
            border-none
            mb-24
            md:mb-56
            items-center
            justify-center
            flex-nowrap
          "
          id="ourSponsorsTab"
          role="tablist"
          data-aos="py-slide"
          data-aos-delay="600"
        >
          <li class="nav-item relative" role="nav-industry-partners">
            <button
              class="
                nav-link
                active
                text-18
                font-montserrat
                bg-transparent
                border-none
                focus:border-none focus:outline-none
              "
              id="industry-partners-tab"
              data-bs-toggle="tab"
              data-bs-target="#industry-partners"
              type="button"
              role="tab"
              aria-controls="industry-partners"
              aria-selected="false"
            >
              Industry Partners
            </button>
          </li>
          <li class="w-38 md:ml-14 md:mr-6">
            <img src="{% static "landing/assets/img/icon/icon-star.svg" %}" />
          </li>
          <li class="nav-item relative" role="nav-academic-partners">
            <button
              class="
                nav-link
                text-18
                font-montserrat
                bg-transparent
                border-none
                focus:border-none focus:outline-none
              "
              id="academic-partners-tab"
              data-bs-toggle="tab"
              data-bs-target="#academic-partners"
              type="button"
              role="tab"
              aria-controls="academic-partners"
              aria-selected="false"
            >
              Academic Partners
            </button>
          </li>
        </ul>
        <div
          class="tab-content relative px-15 md:px-0"
          id="ourSponsorsTabContent"
        >
          <div
            class="
              tab-pane
              fade
              show
              active
              flex-wrap
              justify-between
              md:justify-center
              lg:justify-between
              w-full
            "
            id="industry-partners"
            role="tabpanel"
            aria-labelledby="industry-partners-tab"
          >
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
              data-aos="py-slide"
              data-aos-delay="400"
              data-aos-offset="0"
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-python.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Vestibulum id
                  ligula porta felis euismod semper.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-end
                xl:justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
              data-aos="py-slide"
              data-aos-delay="500"
              data-aos-offset="0"
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-coursera.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
              data-aos="py-slide"
              data-aos-delay="600"
              data-aos-offset="0"
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-freelancer.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Vestibulum id
                  ligula porta felis euismod semper.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-end
                xl:justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
              data-aos="py-slide"
              data-aos-delay="700"
              data-aos-offset="0"
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-accenture.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
              data-aos="py-slide"
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-python.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Vestibulum id
                  ligula porta felis euismod semper.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-end
                xl:justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
              data-aos="py-slide"
              data-aos-delay="400"
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-cpanel.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
              data-aos="py-slide"
              data-aos="py-slide"
              data-aos-delay="500"
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-upwork.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Vestibulum id
                  ligula porta felis euismod semper.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-end
                xl:justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
              data-aos="py-slide"
              data-aos-delay="600"
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-lenovo.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh.
                </p>
              </div>
            </div>
          </div>
          <div
            class="
              tab-pane
              fade
              flex-wrap
              justify-between
              md:justify-center
              lg:justify-between
              w-full
            "
            id="academic-partners"
            role="tabpanel"
            aria-labelledby="academic-partners-tab"
          >
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-python.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Vestibulum id
                  ligula porta felis euismod semper.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-end
                xl:justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "assets/img/logo/logo-coursera.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-freelancer.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Vestibulum id
                  ligula porta felis euismod semper.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-end
                xl:justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-accenture.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-python.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Vestibulum id
                  ligula porta felis euismod semper.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-end
                xl:justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-cpanel.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-upwork.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Vestibulum id
                  ligula porta felis euismod semper.
                </p>
              </div>
            </div>
            <div
              class="
                w-1/2
                md:w/1-3
                lg:w-1/4
                flex-basis-1/2
                md:flex-basis-1/3
                lg:flex-basis-1/4
                md-4 md:mb-20
                lg:mb-60
                flex
                justify-end
                xl:justify-start
                max-w-255
                md:pr-15
                xl:pr-0
              "
            >
              <div>
                <div class="h-60 mb-25 w-full flex justify-start items-center">
                  <img class="cursor-pointer max-h-50 opacity-60
                  hover:opacity-100 w-136 md:w-180" src="{% static
                  "landing/assets/img/logo/logo-lenovo.svg" %}" />
                </div>
                <p class="text-16 leading-24 hidden md:block">
                  Fusce dapibus, tellus ac cursus, tortor mauris condimentum
                  nibh.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
