<section>
  <div class="center p2 mb4">
    <h2 class="caps python-yellow">Our Team</h2>
    <h3 class="caps python-yellow">Officers and Directors</h3>
    <div class="flex flex-wrap justify-center">
      {% for member in board_members %}
      <div class="md-col-4 col-6">
        <h3 class="mb0">{{ member.display_name }}</h3>
        <span class="h3">{{ member.title }}</span>
      </div>
      {% endfor %}
    </div>

    <h3 class="caps mt3 python-yellow">Core Volunteers</h3>
    <div class="flex flex-wrap justify-center">

      {% for commitee in commitees %}
      <div class="md-col-12 col-12">
        <h5 class="mt1 mb1 caps python-yellow">{{ commitee.name }}</h5>
      </div>

        {% for volunteer in commitee.volunteers.all %}
        <div class="md-col-4 col-6">
          <div class="h3">{{ volunteer.display_name }}</div>
        </div>
        {% endfor %}
      {% endfor %}

      <div class="md-col-4 col-6"></div>
    </div>
  </div>
</section>
