<section>
  <div class="center p2 mb4">
    <h2 class="caps python-yellow">Our Team</h2>
    <h3 class="caps python-yellow">Officers and Directors</h3>
    <div class="flex flex-wrap justify-center">
      {% for member in board_members %}
      <div class="md-col-4 col-6">
        <h3 class="mb0">{{ member.display_name }}</h3>
        <span class="h3">{{ member.title }}</span>
      </div>
      {% endfor %}
    </div>

    <h3 class="caps mt3 python-yellow">Core Volunteers</h3>
    <div class="flex flex-wrap justify-center">
      <div class="md-col-12 col-12">
        <h5 class="mt0 caps python-yellow">Meetup</h5>
      </div>
      <div class="md-col-4 col-6">
        <div class="h3">Vanessa Bermudez</div>
        <div class="h3">Jonathan Doydora</div>
        <div class="h3">Khim Shae Delos Reyes</div>
        <div class="h3">Von Louie Cruto</div>
        <div class="h3">Jay Tero</div>
        <div class="h3">Mark Anthony Yabis</div>
        <div class="h3">Janine Bagares</div>
      </div>
      <div class="md-col-4 col-6">
        <div class="h3">Laurence Rebadulla</div>
        <div class="h3">Rommel Philip Afurong</div>
        <div class="h3">Ciara Bautista</div>
        <div class="h3">Jay Mendez</div>
        <div class="h3">First Val Babon</div>
        <div class="h3">Rhea Baguion</div>
        <div class="h3">Renz Jeremy Albandia</div>
      </div>
      <div class="md-col-4 col-6">
        <div class="h3">Ariel Conde</div>
        <div class="h3">Crispin Sarmiento</div>
        <div class="h3">Jessica Apostol</div>
        <div class="h3">Freilla Mae Espinola</div>
        <div class="h3">Lionel Amarado</div>
      </div>

      <div class="md-col-4 col-6">
        <h5 class="mt3 caps python-yellow">Admin</h5>
        <div class="h3">Matt Lebrun</div>
        <div class="h3">Micaela Reyes</div>
        <div class="h3">Sony Valdez</div>
        <div class="h3">Angelica Lapastora</div>
        <div class="h3">Alysson Alvaran</div>
      </div>
      <div class="md-col-4 col-6">
        <h5 class="mt3 caps python-yellow">Public Training</h5>
        <div class="h3">Ryan Ermita</div>
        <div class="h3">Zorex Salvo</div>
        <div class="h3">Dan Belza</div>
        <div class="h3">Albert Yumol</div>
      </div>

      <div class="md-col-4 col-6"></div>
    </div>
  </div>
</section>
