<div class="bg-blue md:bg-image-3 bg-top md:bg-left-top bg-no-repeat 2xl:bg-repeat xl:bg-contain overflow-hidden">
  <div class="w-full px-15 lg:px-0 max-w-855 mx-auto text-white py-24 md:py-88">
    <div class="text-center mb-30">
      <h2 class="capitalize font-montserrat text-40 mb-30" data-aos="py-slide" data-aos-delay="150">
        Why Python?
      </h2>
      <div class="text-18">
        <p data-aos="py-slide" data-aos-delay="200">
        <strong>We believe Python changes lives.</strong>
        </p>

        <p data-aos="py-slide" data-aos-delay="200">
        It gives <strong>everyday people the tools</strong> to <strong>create, solve problems, and share</strong> ideas with the world—<strong>while also powering industries</strong> from <strong>AI</strong> and <strong>data science</strong> to <strong>cloud computing</strong> and <strong>automation</strong>.
        </p>

        <p data-aos="py-slide" data-aos-delay="200">
        From students building their first websites, to small teams streamlining workflows, to researchers and companies tackling big challenges—Python is there.
        </p>

        <p data-aos="py-slide" data-aos-delay="200">
        <strong>Simple enough to start with, powerful enough to shape the future.</strong>
        And at PythonPH, we see it every day in our community: <strong>people learning, teaching, and creating together. That’s the heart of why we do what we do.</strong>
        </p>
      </div>
    </div>
  </div>
</div>
