@import "common/scss/variables";

.header {
  & {
    background: rgb(0, 16, 64);
    padding: 1rem 2rem;
    display: flex;
    font: Cabin, sans-serif;
  }
  .title h1, .ghbtns { 
    display: inline-block;
    vertical-align: middle;
  }
  .title h1 {
    margin-right: 1em;
    color: white;
  }
  .button {
    background-color: #fdd649 !important;
    color: rgba(16,28,66,1) !important;
    border-radius: .375rem !important;
    font-weight: 600 !important;
  }
  .ghbtns {
    line-height: 1;
  }
  .links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .links li {
    margin: 0 0.5rem;
  }
  .links li a {
    border: 0;
    width: 100%;
    padding: 0 1rem;
    display: inline-block;
    background: lighten($primary-color, 10);
    color: inherit;
    line-height: 3;
  }
  .links li a:hover {
    background: lighten($primary-color, 20);
  }
}

.jobs {
  & {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 1rem 2rem;
    margin: 0;
    border-bottom: 1px solid #eee;
    display: flex;
    &.sponsored {
      background: lighten($primary-color, 10);
      font-size: 125%;
    }
    > .job-title {
      flex: 2;
    }
    > .company-title {
      flex: 1;
    }
  }
  h3, h4 {
    margin: 0;
  }
  h3 a, h4 a {
    color: inherit;
    text-decoration: none;
  }
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.page {
  & {
    border: 1px solid #eee;
    position: relative;
    max-width: 60rem;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background: white;
    display: flex;
    flex-wrap: wrap;
  }
  h2 {
    width: 100%;
    border-bottom: 1px solid;
    padding-right: 3rem;
    line-height: 3rem;
  }
  .close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-family: sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
  }
  h3 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
  }
}

.details {
  &-company {
    width: 50%;
  }
  &-location {
    width: 30%;
  }
  &-user {
    width: 20%;
  }
  &-description {
    width: 100%;
  }
  .button {
    background-color: #fdd649 !important;
    color: rgba(16,28,66,1) !important;
    border-radius: .375rem !important;
    font-weight: 600 !important;
  }
}

.company {
  &-profile {
    width: 100%;
  }
  .button {
    background-color: #fdd649 !important;
    color: rgba(16,28,66,1) !important;
    border-radius: .375rem !important;
    font-weight: 600 !important;
  }
}

.pagination {
  & {
    padding: 2rem 2rem 0;
    display: flex;
    justify-content: space-between;
  }
  button {
    width: 10rem;
    font-size: 80%;
  }
  .button {
    background-color: #fdd649 !important;
    color: rgba(16,28,66,1) !important;
    border-radius: .375rem !important;
    font-weight: 600 !important;
  }
}

.post {
  & {
    padding: 2rem 2rem 0;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  h2 {
    width: 100%;
  }
  .company-form {
    width: 40%;
  }
  .job-form {
    width: 60%;
  }
}

.footer {
  padding: 2rem;
  line-height: 1;
  color: silver;
}

