{% load auth %}
<div class="table table-fixed w-full">
    <div class="readonly bg-base-50 border border-base-200 font-medium max-w-2xl px-3 py-2 rounded-default shadow-xs dark:bg-white/[.02] dark:border-base-700" {% include 'django/forms/widgets/attrs.html' %}>
        {% render_password_as_hash widget.value %}
    </div>
    <p class="mt-2">
        <a role="button" class="text-primary-600 dark:text-primary-500 hover:underline" href="{{ password_url|default:'../password/' }}">{{ button_label }}</a>
    </p>
</div>
