body {
  background: rgb(0, 16, 64);
  font: 20px/1.5 Cabin, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Raleway, sans-serif;
}

address {
  font-style: normal;
  white-space: pre-line;
}

a {
  text-decoration: none;
}

h1 {
  & {
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    background: url(../images/logo.svg) no-repeat -32px center;
    background-size: 200px;
    padding: 60px 0 50px 160px;
    margin: 0;
  }
  .py {
    font-size: 150%;
    display: block;
  }
  .ph {
    font-weight: 300;
  }
}

.landing {
  background: url(../images/svi.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.python-yellow {
  color: #fdd649;
}

.bg-python-yellow {
  background: #fdd649;
}

.python-blue {
  color: rgba(0, 16, 64, 0.9);
}

.bg-python-blue {
  background: rgba(0, 16, 64, 0.9);
}

/* Mobile */

@media (max-width: 52em) {
  header {
    text-align: center;
  }
  header ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 64em) {
  header ul {
    text-align: right;
  }
}

