/* Raleway-Light/Raleway-Light - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Raleway-Light/Raleway-Light.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/Raleway-Light/Raleway-Light.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/Raleway-Light/Raleway-Light.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/Raleway-Light/Raleway-Light.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/Raleway-Light/Raleway-Light.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/Raleway-Light/Raleway-Light.svg#Raleway')
			format('svg'); /* Legacy iOS */
}
/* Raleway-Regular/Raleway-Regular - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Raleway-Regular/Raleway-Regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/Raleway-Regular/Raleway-Regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
		/* Modern Browsers */
			url('../fonts/Raleway-Regular/Raleway-Regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/Raleway-Regular/Raleway-Regular.svg#Raleway')
			format('svg'); /* Legacy iOS */
}
/* Raleway-Bold/Raleway-Bold - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Raleway-Bold/Raleway-Bold.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/Raleway-Bold/Raleway-Bold.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/Raleway-Bold/Raleway-Bold.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* Raleway-ExtraBold/Raleway-ExtraBold - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff')
			format('woff'),
		/* Modern Browsers */
			url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.svg#Raleway')
			format('svg'); /* Legacy iOS */
}

/* source-sans-pro-300 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/SourceSansPro-Light/SourceSansPro-Light.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/SourceSansPro-Light/SourceSansPro-Light.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('../fonts/SourceSansPro-Light/SourceSansPro-Light.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/SourceSansPro-Light/SourceSansPro-Light.woff')
			format('woff'),
		/* Modern Browsers */
			url('../fonts/SourceSansPro-Light/SourceSansPro-Light.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/SourceSansPro-Light/SourceSansPro-Light.svg#SourceSansPro')
			format('svg'); /* Legacy iOS */
}
/* source-sans-pro-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff')
			format('woff'),
		/* Modern Browsers */
			url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.svg#SourceSansPro')
			format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.woff')
			format('woff'),
		/* Modern Browsers */
			url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.svg#SourceSansPro')
			format('svg'); /* Legacy iOS */
}
/* source-sans-pro-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff')
			format('woff'),
		/* Modern Browsers */
			url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.svg#SourceSansPro')
			format('svg'); /* Legacy iOS */
}

/* montserrat-500 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/Montserrat-Medium/Montserrat-Medium.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/Montserrat-Medium/Montserrat-Medium.woff')
			format('woff'),
		/* Modern Browsers */
			url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/Montserrat-Medium/Montserrat-Medium.svg#Montserrat')
			format('svg'); /* Legacy iOS */
}
/* montserrat-600 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff')
			format('woff'),
		/* Modern Browsers */
			url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg#Montserrat')
			format('svg'); /* Legacy iOS */
}
