$tooltip-bg: white;
$tooltip-border-radius: 0.625rem;
$tooltip-opacity: 1;
$tooltip-padding-y: 1.25rem;
$tooltip-padding-x: 1.5625rem;
$tooltip-margin: 0;

$tooltip-arrow-width: 1.125rem;
$tooltip-arrow-height: 0.625rem;
$tooltip-arrow-color: white;
