@import 'tooltip';
@import 'bootstrap/bootstrap';

@tailwind base;
@tailwind components;

@tailwind utilities;

@import 'fonts';

@layer utilities {
	@variants responsive {
		.bg-image-1 {
			background-image: url('../img/bg/bg-1.svg');
		}

		.bg-image-2 {
			background-image: url('../img/bg/bg-2.svg');
			min-height: 518px;
		}

		.bg-image-3 {
			background-image: url('../img/bg/bg-3.svg');
		}

		.bg-image-4 {
			background-image: url('../img/bg/bg-4.svg');
			min-height: 748px;
		}

		.bg-image-5 {
			background-image: url('../img/bg/bg-5.svg');
		}

		.bg-image-6 {
			background-image: url('../img/bg/bg-6.svg');
		}

		.flex-basis-1\/2 {
			flex-basis: 50%;
		}

		.flex-basis-1\/3 {
			flex-basis: 33.333333%;
		}

		.flex-basis-1\/4 {
			flex-basis: 25%;
		}

		.flex-basis-1\/5 {
			flex-basis: 20%;
		}

		.flex-basis-1\/6 {
			flex-basis: 16.666667%;
		}

		.flex-basis-19 {
			flex-basis: 19%;
		}
	}
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

html {
	scroll-behavior: smooth;
}

p {
	margin-bottom: 1.375rem;
	line-height: 26.4px;
}

.accordion {
	.card:not(:last-of-type) {
		border: inherit;
	}

	.card-header {
		button[aria-expanded='false'] {
			background: url('../img/icon/icon-chevron-down.svg') no-repeat right;
		}
		button[aria-expanded='true'] {
			background: url('../img/icon/icon-chevron-up.svg') no-repeat right;
		}
	}

	p {
		line-height: 24.2px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

u {
	background-image: linear-gradient(
		270deg,
		rgba(255, 237, 128, 0.0001) 0%,
		#fdd649 100%
	);
	background-position: 0 20px;
	background-repeat: repeat-x;
	text-decoration: none;
	border-radius: 1px;
	display: inline-block;
	line-height: 22px;
}

.our-aim {
	li {
		background: url('../img/icon/icon-star.svg') no-repeat left 5px;
		padding-left: 30px;
		list-style: none;
		background-size: 17px;
	}
}

.nav-tabs {
	.nav-link {
		color: rgba(255, 255, 255, 0.7);
		font-weight: 500;

		&.active {
			color: white;
			font-weight: 600;
		}
	}
}

.border-r-slant::after {
	position: absolute;
	z-index: -1;
	content: '';
	right: -5%;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: inherit;
	-webkit-transform: skewX(7deg);
	-moz-transform: skewX(7deg);
	-ms-transform: skewX(7deg);
	transform: skewX(7deg);
}

/* purgecss start ignore */
@import 'aos';
@import 'swiper-bundle';

.swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #999;
	box-shadow: 0px 1px 2px #555 inset;
	margin: 0 3px;
	cursor: pointer;
}

.swiper-pagination-bullets {
	.swiper-pagination-bullet {
		margin: 0 5px 0 0 !important;
	}

	.swiper-pagination-bullet {
		background-color: rgba(216, 216, 216, 1);
		width: 7px;
		height: 7px;
	}

	.swiper-pagination-bullet-active {
		background-color: #fcd649;
	}
}

.tab-content > .active {
	display: flex !important;
}

@media (max-width: 767px) {
	.slider-pane {
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		-webkit-transition-timing-function: cubic-bezier(
			0.465,
			0.183,
			0.153,
			0.946
		);
		transition-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);
		-webkit-transition: 0.3s;
		transition: 0.3s;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);

		&.opened {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			-webkit-transition-timing-function: cubic-bezier(
				0.465,
				0.183,
				0.153,
				0.946
			);
			transition-timing-function: cubic-bezier(
				0.465,
				0.183,
				0.153,
				0.946
			);
			-webkit-transition: 0.3s;
			transition: 0.3s;
		}
	}

	#ourTeamTabContent {
		.tab-pane {
			display: flex;
		}

		.fade:not(.show) {
			opacity: 1;
		}
	}
}

html:not(.no-js) [data-aos^='py-slide'][data-aos^='py-slide'] {
	opacity: 0;
	visibility: visible;
	transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	transition-property: opacity, transform, -webkit-transform;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100, 0, 1);
}

html:not(.no-js) [data-aos^='py-slide'][data-aos^='py-slide'].aos-animate {
	opacity: 1;
	visibility: visible;
	-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

[data-aos] {
	body[data-aos-easing='py-easing'] &,
	&[data-aos][data-aos-easing='py-easing'] {
		transition-duration: 1s, 1s;
		transition-timing-function: cubic-bezier(0.5, 0, 0, 1),
			cubic-bezier(0.5, 0, 0, 1);
		// transition-delay: 0.23s, 0.23s;
	}
}

.btn-toggle {
	background: url('../img/icon/icon-toggle.svg') no-repeat;
	width: 25px;
	height: 15px;

	&.opened {
		background: url('../img/icon/icon-close.svg') no-repeat;
		width: 16px;
		height: 16px;
		background-size: cover;
	}
}

@import 'bootstrap/tooltip';
@import 'bootstrap/transitions';
/* purgecss end ignore */
