{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block title %}Python.PH Jobs Board{% endblock %}
{% block description %}Python.PH Jobs Board{% endblock %}

{% block css %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static "jobs/scss/main.scss" %}">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="header">
  <div class="title">
    <h1><a href="{% url "jobs:index" %}">
      Python.PH<br>
      <small>Jobs Board</small>
    </a></h1>
    <div class="ghbtns">
      <iframe
        src="https://ghbtns.com/github-btn.html?user=pythonph&repo=pythonph&type=watch&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="95"
        height="20"></iframe>
      <iframe
        src="https://ghbtns.com/github-btn.html?user=pythonph&repo=pythonph&type=fork&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="95"
        height="20"></iframe>
    </div>
  </div>
  <ul class="links">
    {% if user.is_authenticated %}
    <li><a class="button" href="{% url "jobs:post" %}">Post a Job</a></li>
    <li><a class="button" href="{% url "registration:logout" %}?next=/jobs/">Logout</a></li>
    {% else %}
    <li><a class="button" href="{% url "registration:login" %}?next=/jobs/">Login</a></li>
    <li><a class="button" href="{% url "registration:register" %}?next=/jobs/">Register</a></li>
    {% endif %}
  </ul>
  </ul>
</div>
{% block jobs_content %}{% endblock %}
<div class="footer">
  Made by the volunteers of <a href="https://python.ph/">Python.PH</a>
</div>
{% endblock %}
